body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #fff;
	line-height: 1.6;
	margin: 0;
	font-weight: 400;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3{
	margin: 0;
}

img {
	max-width: 100%;
}

.bl {
	font-weight: 700;
	color: #000;
}

.h1 {
	font-family: 'Raleway', sans-serif;
	margin-bottom: 30px;
	margin-top: 16px;
}



.h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	margin-top: 30px;
}

.p {
	color: #85868a;
	margin-top: 10px;
}

.p1 {
	color: #85868a;
	margin-top: 10px;
}

.h3 {
	color: #363636;
	font-weight: 700;
	margin-top: 17px;
}

.sb {
	font-weight: 600;
	color: #000;
	font-size: 15px;
}


.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	background-color: #1c1c1c;
	height: 55px;
	padding-top: 14px;
}

.head-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.logo {
	display: inline-block;
}

.nav {
	display: inline-block;
}

.nav__link	{
	margin: 0 25px;
	text-decoration: none;
	color: #fff;
}

.nav-icon {
	display: none;
	padding-left: 20px;
}

.nav__link2{
	text-decoration: none;
	color: #fff;

}

.first {
	height: auto;
	background: url("../../assets/images/image.png");
	background-size: cover;
	padding-bottom: 15%;
	padding-top: 5%;
}

.boxes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;
}

.box1 {
	display: inline-block;
}

.bt1 {
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	padding: 11px 39px;
	background: transparent;
    border: solid #fff;
	font-size: 17px;
	text-decoration: none;
	color: #fff;
	margin-top: 40px;
}

.box2 {
	border-radius: 5px;
	width: 310px;
	height: 40%;
	background-color: white;
	display: inline-block;
	align-items: center;
}

.name {
	font-family: 'Open Sans', sans-serif;
	height: 5%;
	background-color: #f5f5f5;
	color: #363636;
	font-weight: 700;
	text-align: center;
	margin-top: 7px;
}

.form {
	display: flex;
 	flex-flow: column wrap;
 	align-items: center;
 }

.form1	{
	width: 70%;
	height: 30px;
	border: none;
	border-bottom: 1px solid #bcbcbc;
	background-color: transparent;
  	margin-top: 30px;
	font-size: 15px;
	outline: none;
}

.form12 {
	border: none;
	margin-top: 40px;
	width: 100%;
	height: 50px;
	background-color: #ff9b51;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
}

.media {
	height: auto;
}

.box21 {
	display: inline-block;
	margin-left: 80px;
}

.tab {
	background-color: #f5f5f5;
	max-height: auto;
	padding-bottom: 5%;
}

.bt2 {
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	padding: 10px 26px;
	font-size: 15px;
	text-decoration: none;
	border: none;
	color: #fff;
	margin-top: 25px;
	background-color: #ff8b38;
}

.img {
	display: inline-block;
}

.third {
	max-height: auto;
	padding-bottom: 5%;
}

.box11 {
	display: inline-block;
}

.boxes1 {
	display: flex;
	align-items: center;
	padding-top: 60px;
}

.icon {
	display: inline-block;
	display: flex;
	top: 180px;
}

.text {
	display: flex;
 	flex-flow: column wrap;
 	margin-left: 15px;
 	
}

.fourth {
	max-height: auto;
	padding-bottom: 5%;
	background-color: #f5f5f5;	
}

.rw {
	font-family: 'Raleway', sans-serif;
	color: #262626;
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
}

.fifth{
	max-height: auto;
	padding-bottom: 5%;
}

.textblock {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding-top: 40px;
}

.bl1 {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin-top: 10px;
	text-align: center;
	margin-right: 10px;
}

.sixth {
	background-color: #f5f5f5;
	max-height: auto;
	padding-bottom: 5%;
}

.td1 {
	color: white;
	background-color: #333333;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 30px;
}

.td2 {
	background-color: #333333;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: italic;
	color: #9f9f9f;
	font-size: 12px;
}

.td3 {
	background-color: #fff;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #85868a;
	font-size: 12px;
	text-transform: uppercase;
	width: 300px;
	height: 35px;	
}

.td4 {
	background-color: #ff8b38;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	width: 300px;
	height: 35px;
}

.textblock2 {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding-top: 30px;
}

.eights {
	background: url("../../assets/images/Custom Panel.png");
	max-height: auto;
	background-size: cover; 
	padding-top: 0px;
	padding-bottom: 2%;
}

.ninth {
	max-height: auto;
	padding-bottom: 5%;
}

.rw2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 40px;
	margin-top: 20px;
	text-transform: uppercase;

}

.formlast {
	height: 270px;
}

.form2 {
	width: 48%;
	padding-bottom: 40px;
	border: none;
	border-bottom: 1px solid #bcbcbc;
	background-color: transparent;
	font-size: 15px;
	outline: none;
	float: right;
	vertical-align: top;
	padding-left: 10px;
	
}

.form9 {
	width: 50%;
	height: 30px;
	border: none;
	border-bottom: 1px solid #bcbcbc;
	background-color: transparent;
  	margin-top: 30px;
	font-size: 15px;
	outline: none;
	padding-left: 10px;
}

.bt21{
	border-radius: 5px;
	padding: 10px 26px;
	font-size: 15px;
	text-decoration: none;
	border: none;
	color: #fff;
	background-color: #ff8b38;
	margin: 40px auto;
	display: block;
}

.medial {
	background-color: #000;
	display: flex;
	align-items: center;
	max-height: auto;
}




.bt11 {
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	padding: 11px 39px;
	background: transparent;
    border: solid #fff;
	font-size: 17px;
	text-decoration: none;
	color: #fff;
	margin-bottom: 20px;
}





